.Button  {

    background-color: #00F;
    color: white;
    border-radius: 5px;
    padding:5px;
    border: none;
    margin: 5px;

}

.Button:hover  {

    background-color: #007;
    box-shadow: 5px 2px 5px rgba(0,0,0,.3);
    cursor: pointer;
}


.Button > img {
    max-height: 1em;
    padding-right: 1em;
}

.clicked {
    box-shadow: 5px 2px 5px rgba(0,0,0,.3) inset !important;
}